name: ar_museum
description: Flutter Augmented Reality Museum App. 

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.1.3 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  provider: ^6.1.1
  intl: ^0.18.1

  cupertino_icons: ^1.0.2
  qr_code_scanner: ^1.0.1
  vector_math: ^2.1.4
  path_provider: ^2.1.1
  flutter_archive: ^5.0.0
  carousel_slider: ^4.2.1
  smooth_page_indicator: ^1.1.0
  audioplayers: ^5.2.0
  flutter_unity_widget: ^2022.2.0
  flutter_launcher_icons: ^0.13.1

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  generate: true
  assets:
    - assets/config/

flutter_launcher_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/images/logo.png"
  min_sdk_android: 21